{% extends 'layout/layoutAdmin.html.twig' %}

    {% block title %}Dashboad{% endblock %}


{% block bread %}


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Gestion catégories</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_homepage') }}">Admin</a>
                </li>
                <li class="active">
                    <strong>Gestion Catégories</strong>
                </li>
            </ol>
        </div>

    </div>

{% endblock %}




{% block body %}




    <div class="wrapper wrapper-content" ng-controller="gestionCatCtrl">
        <div class=" text-center animated fadeInRightBig">



            <div class="row" ng-init="txtSearch=''">

                <div class="form-group">

                    <div class="col-sm-1"></div>
                    <div class="col-sm-10"><input placeholder="Chercher des catégories" ng-model="txtSearch" ng-change="getCategories(txtSearch)" type="text" class="form-control"></div>

                </div>

            </div>


            <div class="clearP"></div>


            <div class="row">
                <div class="col-lg-3" ng-repeat="categorie in categories" >
                    <div class="contact-box center-version" style="height: 280px!important;">

                        <a href="#">

                            <img alt="image" class="img-circle" src="{{ asset('img/a2.jpg') }}">


                            <h3 class="m-b-xs"><strong ng-bind="categorie.nom"></strong></h3>

                            <address class="m-t-md">
                            <span ng-bind="categorie.desc | limitTo:50"></span>
                            <span ng-if="categorie.desc.length > 50">...</span>
                            </address>


                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Modifier </a>
                                <a class="btn btn-xs btn-white" ng-click="openModalDel(categorie.id,categorie.nom)" ><i class="fa fa-close"></i> Supprimer</a>

                            </div>
                        </div>

                    </div>
                </div>

             </div>





        </div>





        <div class="modal inmodal fade" id="modalDelete" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Suppression</h4>
                    </div>
                    <div class="modal-body">
                        <h3>
                            Vous etes sûr de <strong>supprimer</strong> la catégorie <span ng-bind="currentNameToDel"></span>


                        </h3>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteCategorie(currentIdToDel)">Supprimer</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>




    </div>



{% endblock %}



{% block angular %}
    <script>


        appAdmin.controller("gestionCatCtrl",function($scope,$http){
            $scope.categories=[];
            $scope.txtSearch="";

            $scope.currentNameToDel = "";
            $scope.currentIdToDel = 0;

            $scope.getCategories = function(txtChange){





                if(txtChange == undefined){
                    $scope.txtRecherche = "";
                }else{
                    $scope.txtRecherche = txtChange;
                }


                $scope.objToSend = {
                    txt : $scope.txtRecherche
                }



                $http.post("http://172.16.128.8/formation/web/app_dev.php/Admin/Categories/getCategoriesJson",$scope.objToSend)
                        .then(function (response) {

                            $scope.categories = response.data;

                        });


            }

            $scope.getCategories($scope.txtSearch);


            setInterval(function(){
                $scope.getCategories($scope.txtSearch);

            },3000);



            $scope.openModalDel = function(id,nom){

                $scope.currentNameToDel = nom;
                $scope.currentIdToDel = id;
                $("#modalDelete").modal('show');
            }

            $scope.deleteCategorie = function(id){


                $scope.urlDel = "http://172.16.128.8/formation/web/app_dev.php/Admin/Categories/deleteCategorieJson/" + id ;

                $http.post($scope.urlDel)
                        .then(function (reponse) {

                            if(reponse.data.success){
                                toastr.success(reponse.data.message,"Suppression");
                            }else{
                                toastr.error(reponse.data.message,"Suppression");
                            }

                            $scope.getCategories($scope.txtSearch);
                            $("#modalDelete").modal('hide');

                        });




            }










        });


    </script>


{% endblock %}


