{% extends '::base.html.twig' %}



  {% block stylesheets %}

      <style>

          p{
              color:green;
          }

      </style>

  {% endblock %}



{% block title %}
page2
{% endblock %}



{% block body %}

    <p>
        salut je suis page 2


    </p>

{% endblock %}