{% extends '::base.html.twig' %}


  {% block stylesheets %}

      <style>

          p{
              color:red;
          }

      </style>

  {% endblock %}


{% block title %}
page1
{% endblock %}

{% block body %}

    <p>
        salut je suis page 1


    </p>

{% endblock %}
